/* Signup html */
/* Content section */
.content__sub{
    display: flex;
    flex-direction: row;
    
}
.content__sub a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 1.1rem;
    padding: 0.5rem 0;
}
.video__banner{
    min-height: 50vh;
}
.signUp__section{
    min-height: 50vh;
}
.container h3{
    text-align: center;
    font-weight: 700;
}
.container .sub__header{
    display: flex;
    justify-content: center;
}
.container .sub__header p{
    color: #7e7e7e ;
}
.container .sub__header a{
    text-decoration: none;
}
#signupForm .form-group{
    display: flex;
    align-content: space-around;

}
#signupForm .form-group label{
    width: 10vw;
}
.btn-signUp{
    background-color:rgb(105, 113, 244);
    margin-top: 10px;
    margin: 0 auto;
    display: block;
}