*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: all .2s linear;
    font-weight: 500;
}
html{
    font-size: 100%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}
section{
    padding:2rem 9%;
}

.font--Bold{
    font-weight: 700;
}
.font--Light{
    font-weight: 500;
}
.fa-search{
    font-size: 1.4em !important;
}
.btn{
    background-color: transparent;
    border-style: solid;
    border-color: #fff;
    border-radius: 20px;
    color: white;
    padding: 12px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn-login{
    background-color: #192675;
}
.btn:hover{
    background-color: #fff;
    color:rgb(40, 26, 161);
}
.pd-2{
    padding: 20px;
}
/* Header section*/
.header__navbar{
    /* opacity: .8; */
    z-index: 1;
    height: 7vh;
    background-color: transparent!important;
}
.navbar-brand{
    margin-top: 23px;
}
.navbar-collapse{
    margin: 22px 0 0 30px;
}
.login-form{
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    position:relative;
    padding: 10px;
    cursor: pointer;
}

.login-form a{
    color:#fff;
    text-decoration: none;
    padding: 10px;
}
.login-form:first-child:after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 50px;
    background-color: #000;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 5px;
}
.login-form:hover{
    color:black;
}
/* End header section */
/* Section video */
.video__banner{
    top: -100px;
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
    background: linear-gradient(to right,rgb(105, 113, 244),rgb(177, 22, 90));
}
.video-container video{
    position: absolute;
    top: 0px; left: 0;
    z-index: -99;
    height: 100%;
    width:100%;
    object-fit: cover;
    opacity: 0.35;
    /* filter: brightness(1.1) grayscale(0.2) hue-rotate(52deg) opacity(0.35) contrast(0.3 url('#cherry-icecream'); */
}
.video__banner .content{
    text-align: center;
}
.video__banner .content h3{
    font-size: 3rem;
    color:#fff;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);

}
.video__banner .content p{
    font-size: 1.1rem;
    color:#fff;
    padding:.5rem 0;
}
/* End section video */
/* Login form container */

.login-form-container{
    position: fixed;
    top:-120%; left: 0;
    z-index: 10000;
    min-height: 100vh;
    width:100%;
    background:rgb(0,0,0);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-form-container.active{
    top:0;
  }
  
  .login-form-container form{
    margin:2rem;
    padding:1.5rem 2rem;
    border-radius: .5rem;
    background:#fff;
    width: 31rem;
    height: 27rem;
}
  
.login-form-container form h3{
    font-size: 25px;
    color:#000;
    font-weight: 700;
    text-align: center;
    margin-top: 22px;;

}
    
.login-form-container form h2{
    font-size: 15px;
    color:#6f7074;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}
.login-form-container form a{
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    padding:1rem 0; 
    color: red;
}
.login-form-container form h2 a{
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding:1rem 0; 
    text-decoration: none;
    color:#2441e7;
    margin-bottom: 10px;;
}
  
.login-form-container form .box{
    width: 100%;
    font-size: 15px;
    color: #333;
    padding: 10px;
    margin: 0.6rem 0;
    border: 0.1rem solid rgba(0,0,0,.3);
    border-radius: 5px;
    text-transform: none;
}
 
.login-form-container form .box:focus{
    border-color: var(--orange);;
}
  
.login-form-container form #remember{
    margin:2rem 0;
 
}
  
.login-form-container form label{
    color:#6f7074;
    font-weight: 400;
    font-size: 15px;
}
  
.login-form-container form .btn{
    display: block;
    width:100%;
}
  
.login-form-container form p{
    padding:.5rem 0;
    font-size: 1.5rem;
    color:#666;
}
  
.login-form-container form p a{
    color:var(--orange);
}
  
.login-form-container form p a:hover{
    color:#333;
    text-decoration: underline;
}
  
.login-form-container #form-close{
    position: absolute;
    top:2rem; right:3rem;
    font-size: 5rem;
    color:#fff;
    cursor: pointer;
}
/* End login form container */
/* Course section */
.course-item{
    border-style: solid;
    border-width: 1px;
    width: 300px;
}
.course__section .content{
    text-align: center;
}
.course__section .content h3{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
}
.course__section .content p{
    font-size: 15px;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
}
.course-item .detail-item p{
    font-size: 15px;
    color: #7e7e7e
    
}
.course-item .detail-item a{
    font-size: 1rem;
    color: #000;
    text-decoration: none;
    
}
.course-item .detail-item h3{
    font-size: 1rem;
}
.img-item .img-course{
    width: 170px;
    object-fit: cover;
    
}
/* End course section */