<!-- Footer section -->
<!-- Footer -->
<footer class="text-center text-lg-start footer--background text-muted">

    <!-- Section: Links  -->
    <section class="border-bottom">
        <div class="container text-center text-md-start mt-5 " style="color: #fff;">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="fw-bold mb-4">
                        Giới thiệu Le Academy
                    </h6>
                    <p>
                        Cộng đồng lập trình Agile Developer ra đời nhằm mang lại giá trị học tập cho sinh viên, lập
                        trình viên. Với những khóa học từ cơ bản đến nâng cao sẽ giúp các bạn tiếp thu nhanh chóng
                        công nghệ mới nhằm đáp ứng thị trường.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="fw-bold mb-4">
                        Company
                    </h6>
                    <p>Le Academy</p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="fw-bold mb-4">
                        Programs
                    </h6>
                    <p>
                        Từ cơ bản đến nâng cao cho người học lập trình
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="fw-bold mb-4">
                        Support
                    </h6>
                    <p>
                        Được hỗ trợ từ các lập trình viên từ 5 đến 10 năm kinh nghiệm
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="fw-bold mb-4">
                        Liên hệ
                    </h6>
                    <p>Cộng đồng Agile Developer Đà Nẵng</p>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->
    <!-- Section: Social media -->
    <section class="row justify-content-center justify-content-lg-between p-4 text__footer">
        <div class="col-xl-4 text-center">
            <img src="images/logolecademy.png" alt="" width="300px">
            <p class="text-uppercase text__footer-left">Le Academy</p>
        </div>

        <div class="col-xl-4 text-center">
            <p>Nâng tầm tri thức - Vứng bước tương lai</p>
        </div>

        <div class="col-xl-4 text--right mb-text--center" style="color: #fff;">
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </section>
    <!-- Section: Social media -->

    <!-- Copyright -->
    <div class="text-center p-4 copyright--background">
        Copyright © 2020 Le Academy. All Rights Reserved
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
<!-- End footer -->