<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký</title>
    <link rel="stylesheet" href="css/reset.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;700&family=Open+Sans:wght@400;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/signUp.css">
    <link rel="stylesheet" href="css/responsive.css">

</head>

<body>

    <!-- Section header -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark header__navbar">

            <div class="container-fluid pd-2">
                <a class="navbar-brand" href="/">
                    <img src="images/logolecademy.png" alt="" width="50">
                    <span class="font-Nunito font--Bold">LE ACADEMY</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="font-Nunito font--Light">VIETNAMESE (VI)</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">ENGLISH (en)</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#"> VIETNAMESE (vi) </a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item login-form" id="login-area">
                            <span style="color: #fff;">
                                <i class="far fa-user"></i>
                            </span>
                            <a href="" id="login-btn">Login/Register</a>
                        </li>
                        <li class="nav-item login-form" id="logout-area">
                            <span style="color: #fff;">
                                <i class="far fa-user"></i>
                            </span>
                            <a href="" id="login-btn">Logout</a>
                        </li>
                        <li class="nav-item login-form">
                            <a href="" class="search-button">
                                <span style="color: #fff;">
                                    <i class="fas fa-search "></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Section header -->
    <!-- Section banner -->
    <section class="video__banner" id="video__banner">
        <div class="content">
            <h3>Le Academy</h3>
            <div class="content__sub">
                <a href="/">Trang chủ</a>
                <p>Đăng nhập</p>
                <p>Tài khoản mới</p>
            </div>
        </div>
    </section>
    <!-- End banner -->
    <!-- Form signup section -->

    <section class="signUp__section">
        <div class="container">
            <h3>Tài khoản mới</h3>
            <div class="sub__header mt-2 mb-2">
                <p>Have an account?</p>
                <a href="" id="login-btn--sub">Login?</a>
            </div>
            <form id="signupForm"method = 'Post' action ='/signup/users'>
                <div class="form-group mt-2">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email" name="username" required>
                </div>
                <div class="form-group mt-2">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                        name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{7,}"
                        title="Phải có 1 kí tự số và có chữ hoa và thường, lớn hơn 6 ký tự" required>
                </div>
                <button type="submit" class="btn btn-signUp mt-3">Submit</button>
            </form>
        </div>
    </section>
    <!-- End form signup section -->
    <!-- Login form container-->
    <div class="login-form-container">
        <i class="fas fa-times" id="form-close"></i>
        <form action="" id="form-login">
            <h3>Login to your account</h3>
            <h2>Don't have an account?<a href="/signup"> Sign up!</a></h2>
            <input type="email" class="box" placeholder="email" id="email" required>
            <input type="password" class="box" placeholder="Password" id="password" name="password"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{7,}"
                title="Phải có 1 kí tự số và có chữ hoa và thường, lớn hơn 6 ký tự" required>
            <input type="checkbox" id="remember">
            <label for="remember">Nhớ tên tài khoản</label>
            <a href="#">Quên mật khẩu</a>
            <button type="submit" class="btn btn-login">Đăng nhập</button>
        </form>
    </div>
    <!-- End login form -->
    <!-- Footer section -->
    <!-- Footer -->
    <footer class="text-center text-lg-start footer--background text-muted">

        <!-- Section: Links  -->
        <section class="border-bottom">
            <div class="container text-center text-md-start mt-5 " style="color: #fff;">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="fw-bold mb-4">
                            Giới thiệu Le Academy
                        </h6>
                        <p>
                            Cộng đồng lập trình Agile Developer ra đời nhằm mang lại giá trị học tập cho sinh viên, lập
                            trình viên. Với những khóa học từ cơ bản đến nâng cao sẽ giúp các bạn tiếp thu nhanh chóng
                            công nghệ mới nhằm đáp ứng thị trường.
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="fw-bold mb-4">
                            Company
                        </h6>
                        <p>Le Academy</p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="fw-bold mb-4">
                            Programs
                        </h6>
                        <p>
                            Từ cơ bản đến nâng cao cho người học lập trình
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="fw-bold mb-4">
                            Support
                        </h6>
                        <p>
                            Được hỗ trợ từ các lập trình viên từ 5 đến 10 năm kinh nghiệm
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="fw-bold mb-4">
                            Liên hệ
                        </h6>
                        <p>Cộng đồng Agile Developer Đà Nẵng</p>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
        <!-- Section: Social media -->
        <section class="row justify-content-center justify-content-lg-between p-4 text__footer">
            <div class="col-xl-4 text-center">
                <img src="images/logolecademy.png" alt="" width="300px">
                <p class="text-uppercase text__footer-left">Le Academy</p>
            </div>

            <div class="col-xl-4 text-center">
                <p>Nâng tầm tri thức - Vứng bước tương lai</p>
            </div>

            <div class="col-xl-4 text--right mb-text--center" style="color: #fff;">
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </section>
        <!-- Section: Social media -->

        <!-- Copyright -->
        <div class="text-center p-4 copyright--background">
            Copyright © 2020 Le Academy. All Rights Reserved
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <!-- End footer -->
    <script src="js/login.js"></script>
    <!-- <script src="js/signup.js"></script> -->
</body>

</html>